@model IEnumerable<activos.Models.Tipo>

@{
    ViewData["Title"] = "Tipo de Activos Fijos";
}

<h1>Tipos de Activos Fijos</h1>

<p>
    <a asp-action="Create">Crear un Tipo de Activos Fijos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_persona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_persona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_tipo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_tipo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_tipo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
