@model IEnumerable<activos.Models.ActivoFijo>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestor de Activos Fijos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Crear un nuevo Activo Fijo</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepreciacionAcumulada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TipoActivo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepreciacionAcumulada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
                <td class="d-flex justify-content-end">
                    <a asp-action="Edit" asp-route-id="@item.Id_activo_fijo" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_activo_fijo" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_activo_fijo" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
