@model activos.Models.TipoActivo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TipoActivo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContableCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContableCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaContableDepreciacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaContableDepreciacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_tipo_activo" class="btn btn-warning">Editar tipo de activo</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
