@model IEnumerable<activos.Models.Departamento>

@{
    ViewData["Title"] = "Departamento";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1>Gestor de Departamentos</h1>

<p>
    <a asp-action="Create">Crear un nuevo Departamento</a>
</p>
<div class="container">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_departamento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_departamento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_departamento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
