@model IEnumerable<activos.Models.Empleado>

@{
    ViewData["Title"] = "Empleado";
}

<h1>Gestor de Empleado</h1>

<p>
    <a asp-action="Create">Crear un nuevo Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Tipo_persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_empleado">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_empleado">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_empleado">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
