@model IEnumerable<activos.Models.Empleado>


    @{
        ViewData["Title"] = "Empleado";
    }
@* <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> *@


<h1>Gestor de Empleado</h1>

   
<div class="container">
<p>
        <a asp-action="Create" class="btn btn-outline-success">Crear un nuevo Empleado</a>
</p>

 <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Tipo_persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_empleado" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_empleado" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_empleado" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
 </table>
</div>
